body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 40px;
    margin: 10px;
    padding: 10px;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-size: 20px;
    line-height: 25px;
    text-align: justify;
    text-justify: inter-word;
    margin: auto;
    padding: 10px;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
}

form {
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}


input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

input[type="number"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

input[type="submit"] {
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #ffd1d1;
}

label {
    font-size: 20px;
    font-weight: bold;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    text-align: center;
    width: 121px;
}

input[type="number"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    text-align: center;
    width: 124px;
}

input[type="submit"] {
    padding: 5px 10px;
    background-color: #bba771;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #f0afaf;
}

label {
    font-size: 20px;
    font-weight: bold;
}

mark {
    background-color: #f0ceaf;
    color: rgb(0, 0, 0);
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
}

input {
    margin: 10px;
}

#texto {
    margin: 10px;
}

#comprobar {
    background-color: green;
    color: white;
}

#limpiar {
    background-color: red;
    color: white;
}