body {
    background-color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 5px;
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-decoration: none;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 5px;
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-decoration: none;
    text-transform: uppercase;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#titulo {
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-align: center;
    position: sticky;
    top: 0;
    text-decoration: none;
}

#tablero {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 700px;
    height: 600px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 0;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 0 5px 5px rgb(255, 255, 255);
    position: relative;
    overflow: hidden;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 5px;
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-decoration: none;
    text-transform: uppercase;
}

#reiniciar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 50px;
    background-color: #b92a55;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

